# Подготовка данных пациентов

In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import OneHotEncoder
import transformers
from tqdm import notebook
from sklearn.model_selection import train_test_split

## Загрузка данных

In [2]:
file_path = 'chd_addmit_300.xlsx'

In [3]:
patient_data = pd.read_excel(file_path)

In [4]:
patient_data.head()

,admittion,discharge,sex,height,weight,BMI,BSA,birth,Операции (все в ИБ),Перенесенные опер. (из Анамн.),...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,2016-12-12,2017-01-10,m,76,9.70,111.27,0.46,02.01.2016,12.12.2016: (Откр./ИК) Перевязка ранее наложен...,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-13,2017-02-01,f,67,7.34,89.67,0.37,02.02.2016,18.01.2017: (Откр./ИК) Радикальная коррекция д...,15.08.2016г.: Транслюминальная балонная вальву...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-17,2017-02-09,m,74,8.90,103.46,0.43,21.02.2016,19.01.2017: (Откр./ИК) Перевязка ранее наложен...,29.02.2016 - подключично-легочный анастомоз сп...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-20,2017-02-21,f,67,6.97,85.15,0.36,02.03.2016,23.01.2017: (Откр./ИК) Наложение двустороннего...,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-02-13,2017-03-01,m,82,9.29,102.59,0.46,08.03.2016,15.02.2017: (Откр./ИК) Реконструкция путей отт...,13.04.2016. НАЗВАНИЕ ОПЕРАЦИИ: Транслюминальна...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 42 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   admittion                                        300 non-null    datetime64[ns]
 1   discharge                                        300 non-null    datetime64[ns]
 2   sex                                              300 non-null    object
 3   height                                           300 non-null    int64
 4   weight                                           300 non-null    float64
 5   BMI                                              298 non-null    float64
 6   BSA                                              298 non-null    float64
 7   birth                                            300 non-null    object
 8   Операции (все в ИБ)                              300 non-null    object
 9   Перенесенные опер. (из Анамн.)                   300 non-null    object
 10  Диагноз                                          300 non-null    object
 11  МКБ                                              300 non-null    object
 12  Соп. забол. (из Анамн.)                          300 non-null    object
 13  Медикам. леч. по поводу осн. забол. (из Анамн.)  253 non-null    object
 14  Принимаемые препараты (из Анамн.)                180 non-null    object
 15  ЭхоКГ (Из Эпикр. до опер.)                       293 non-null    object
 16  ЭКГ (Из Эпикр. до опер.)                         280 non-null    object
 17  АКГ (Из Эпикр. до опер.)                         91 non-null     object
 18  КТ (Из Эпикр. до опер.)                          38 non-null     object
 19  Операция (основная / первая в ИБ)                300 non-null    object
 20  Дата опер.                                       300 non-null    object
 21  target                                           300 non-null    int64
 22  Unnamed: 22                                      0 non-null      float64
 23  Unnamed: 23                                      0 non-null      float64
 24  Unnamed: 24                                      0 non-null      float64
 25  Unnamed: 25                                      0 non-null      float64
 26  Unnamed: 26                                      0 non-null      float64
 27  Unnamed: 27                                      0 non-null      float64
 28  Unnamed: 28                                      0 non-null      float64
 29  Unnamed: 29                                      0 non-null      float64
 30  Unnamed: 30                                      0 non-null      float64
 31  Unnamed: 31                                      0 non-null      float64
 32  Unnamed: 32                                      0 non-null      float64
 33  Unnamed: 33                                      0 non-null      float64
 34  Unnamed: 34                                      0 non-null      float64
 35  Unnamed: 35                                      0 non-null      float64
 36  Unnamed: 36                                      0 non-null      float64
 37  Unnamed: 37                                      0 non-null      float64
 38  Unnamed: 38                                      0 non-null      float64
 39  Unnamed: 39                                      0 non-null      float64
 40  Unnamed: 40                                      0 non-null      float64
 41  Unnamed: 41                                      0 non-null      float64
dtypes: datetime64[ns](2), float64(23), int64(2), object(15)
memory usage: 98.6+ KB

In [6]:
patient_data.describe()

,height,weight,BMI,BSA,target,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
count,300.000000,300.000000,298.000000,298.000000,300.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,64.890000,6.293560,76.834430,0.336477,0.046667,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,8.076012,1.951695,20.640196,0.073846,0.211276,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,39.000000,1.270000,20.340000,0.120000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,60.000000,4.868500,62.007500,0.280000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,65.500000,6.442500,78.430000,0.350000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,71.000000,7.651250,91.797500,0.390000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,85.000000,12.000000,137.650000,0.520000,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Успешно создан датасет. Необходимо изменить тип данных некоторых признаков, убрать пропуски.

## Предобработка

In [7]:
main_dataset = pd.DataFrame()

In [ ]:
main_dataset[['height', 'weight', 'BMI', 'BSA', '']]

### Изменение типа признаков

In [13]:
patient_data['birth'] = pd.to_datetime(patient_data['birth'])
patient_data['Дата опер.'] = pd.to_datetime(patient_data['Дата опер.'])
patient_data['Поступил в ОРИТ'] = pd.to_datetime(patient_data['Поступил в ОРИТ'])
patient_data['Выбыл из ОРИТ'] = pd.to_datetime(parient_data['Выбыл из ОРИТ'])

ParserError: String does not contain a date:

### OHE

#### sex

In [23]:
sex_OHE = OneHotEncoder(drop='first').fit(train['sex'].values.reshape(-1, 1))

In [25]:
main_dataset['sex'] = sex_OHE.transform(train['sex'].values.reshape(-1, 1)).toarray()

TypeError: sparse matrix length is ambiguous; use getnnz() or shape[0]

#### department

In [46]:
department_ohe = OneHotEncoder().fit(patient_data['department'].values.reshape(-1, 1))
department_ohe.categories_[0]

array(['ehn', 'onik', 'rhn'], dtype=object)

In [51]:
patient_data[department_ohe.categories_[0]] = pd.DataFrame(department_ohe.transform(patient_data['department'].values.reshape(-1, 1)).toarray())

In [52]:
patient_data = patient_data.drop('department', axis=1)

### Feature Engineering

In [ ]:
patient_data['age'] =

### Обработка текста